* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    width: 100%;
}

    
.wrap > div:nth-of-type(1) {
    width: 15%;
    height: 100%;
    background: white;
    text-align: center;
    line-height: 10em;
    position: fixed;
}

a {
    text-decoration: none;
}

h1 > a {
    display: block;
    color: #9b1b30;
    font-size: 1.5em;
    font-weight: 900;
}

h2 {
    margin: 0;
    line-height: 3em;
}

h2 a {
    display: block;
    color: rgba(155,27,48,0.8);
}
h2 a:hover{
    color: rgba(155,27,48,1);
    text-decoration: underline;
}

.wrap > div:nth-of-type(2)::after {
    content: "";
    display: block;
    clear: both;
}

.wrap > div:nth-of-type(2) {
    width: 85%;
    margin-left: 15%;
    margin-top: 100px;
}

.wrap > div:nth-of-type(2) div:nth-of-type(1) {
    width: 60%;
    height: 520px;
    background: url(../image/wlak.jpg) no-repeat center/cover;
    transition: 2s;
    float: left;
}

.wrap div:nth-of-type(2) div:nth-of-type(2) {
    width: 40%;
    height: 260px;
    float: left;
    background: #222;
}

.wrap div:nth-of-type(2) div:nth-of-type(3) {
    float: left;
    background: #333;
    width: 20%;
    height: 260px;
}
.wrap div:nth-of-type(2) div:nth-of-type(4) {
    float: left;
    width: 20%;
    background: #444;
    height: 260px;
}

.wrap div:nth-of-type(2) div:nth-of-type(5) {
    width: 20%;
    height: 260px;
    background: #555;
    float: left;
}

.wrap div:nth-of-type(2) div:nth-of-type(6) {
     width: 40%;
    height: 260px;
    background: #444;
    float: left;
}

.wrap div:nth-of-type(2) div:nth-of-type(7) {
    width: 20%;
    height: 260px;
    background: #222;
    float: left;
}

.wrap div:nth-of-type(2) div:nth-of-type(8) {
    width: 20%;
    height: 260px;
    background: #111;
    float:left;
}


.wrap div:nth-of-type(2) div:nth-of-type(9) {
     width: 20%;
    height: 260px;
    background: #444;
    float: left;
}

.wrap div:nth-of-type(2) div:nth-of-type(10) {
    width: 40%;
    height: 260px;
    background: #555;
    float: left;
}

.wrap div:nth-of-type(2) div:nth-of-type(11) {
    width: 20%;
    height: 260px;
    background: #888;
    float: left;
}
.wrap div:nth-of-type(2) div:nth-of-type(12) {
    width: 20%;
    height: 260px;
    background: #333;
    float: left;
}

@media screen and (max-width: 1599px) {
    .wrap div:nth-of-type(1)  {
        width: 100%;
        position: relative;
        width: 15%;
        height: 100%;
        background: white;
        line-height: 10em;
        margin: 0 auto;
    }
    
    
    .menu h2 {
        position: absolute;
    }
    .menu h2 a {
        display: inline-block;
    }
    
    .wrap div:nth-of-type(2) {
        width: 100%;
        margin-left: 0;
    }
    
}

@media screen and (max-width: 1279px) {
    
.wrap div:nth-of-type(2) div:nth-of-type(1) {
    width: 75%;
    height: 520px;
    background: url(../image/wlak.jpg) no-repeat center/cover;;
    float: left;
}

.wrap div:nth-of-type(2) div:nth-of-type(2) {
    width: 25%;
    height: 260px;
    float: left;
    background: #222;
}

.wrap div:nth-of-type(2) div:nth-of-type(3) {
    float: left;
    background: #333;
    width: 25%;
    height: 260px;
}
.wrap div:nth-of-type(2) div:nth-of-type(4) {
    float: left;
    width: 25%;
    background: #444;
    height: 260px;
}

.wrap div:nth-of-type(2) div:nth-of-type(5) {
    width: 25%;
    height: 260px;
    background: #555;
    float: left;
}

.wrap div:nth-of-type(2) div:nth-of-type(6) {
     width: 50%;
    height: 260px;
    background: #444;
    float: left;
}

.wrap div:nth-of-type(2) div:nth-of-type(7) {
    width: 25%;
    height: 260px;
    background: #222;
    float: left;
}

.wrap div:nth-of-type(2) div:nth-of-type(8) {
    width: 50%;
    height: 260px;
    background: #111;
    float:left;
}


.wrap div:nth-of-type(2) div:nth-of-type(9) {
     width: 25%;
    height: 260px;
    background: #444;
    float: left;
}

.wrap div:nth-of-type(2) div:nth-of-type(10) {
    width: 50%;
    height: 260px;
    background: #555;
    float: left;
}

.wrap div:nth-of-type(2) 